{{ define "main" }}             <!-- List of all posts -->

{{ if (eq .Kind "section") }}
    <h2>Posts in ‘{{ .Type }}’ section</h2>
{{ else if (eq .Kind "taxonomy") }}
    <h2>Posts with the {{ .Type | singularize }} ‘{{ .URL | replaceRE (printf "/%s/" .Type) "" | replaceRE "/" "" }}’</h2>
{{ end }}

{{ with .Content }}
    {{ . }}
{{ end }}

<section>
    <ul class="post-list">
        {{ range .Pages }}
            {{ .Render "li" }}
        {{ end }}
    </ul>
</section>

{{/* partial "debugprint.html" . */}}

{{ end }}
