[submodule "doc/themes/hugo-onyx-theme"]
	path = doc/themes/hugo-onyx-theme
	url = https://github.com/kaushalmodi/hugo-onyx-theme
[submodule "test/site/themes/hugo-bare-min-theme"]
	path = test/site/themes/hugo-bare-min-theme
	url = https://github.com/kaushalmodi/hugo-bare-min-theme
[submodule "test/site/themes/hugo-debugprint"]
	path = test/site/themes/hugo-debugprint
	url = https://github.com/kaushalmodi/hugo-debugprint
[submodule "test/site/themes/hugo-search-fuse-js"]
	path = test/site/themes/hugo-search-fuse-js
	url = https://github.com/kaushalmodi/hugo-search-fuse-js
